<h1>Welcome to the Image Sharing App</h1>
<br />
<%= link_to("Click here to post a new image", new_image_post_path) %>
<br /> <br/>
<% if @posts.any? %>
    <% @posts.order("created_at DESC").each do |post| %>
        <%= post.title %>
        <br/>
        <% if !post.tag_list.blank? %>
            <h5 class="tag-list">Tags: <% post.tag_list.each do |tag| %>
                <%= link_to tag, controller: :image_posts, tag: tag %>
                <% end %>
            </h5>
        <% end %>
        <br/>
        <%= image_tag(post.image,width: 400) if post.image.attached? %>
        <br/>
    <% end %>
<% else%>
    <h3>No images posted so far!</h3>
<%end%>
